:80 {
    handle /mfup/* {
        reverse_proxy backend:8070
    }

    handle /health {
        reverse_proxy backend:8070
    }

    handle /trivial/* {
        uri strip_prefix /trivial
        reverse_proxy trivial:8071
    }

    handle {
        reverse_proxy frontend:3000
    }
}
